* {
    font-family: 'Poppins', sans-serif;
}
span {
    color: #F6B400;
    font-family: 'Oleo Script', cursive;
}
.logo {
    font-family: 'Oleo Script', cursive;
    font-size: xxx-large;
    display: inline-block;
}