* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
span {
    color: #F6B400;
    font-family: 'Oleo Script', cursive;
}
.logon {
    font-family: 'Oleo Script', cursive;
    font-size: xxx-large;
    display: inline-block;
    color: #000;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    flex: 1;
    text-align: right;
}
.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 16px;
    position: relative;
}
.navlinks ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.navlinks ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #f66b00;
    display: block;
    margin: auto;
}
.navlinks ul li:hover::after {
    width: 100%;
}
.Home {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.text{
    padding: 120px 120px;
}
.herobtn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px  solid #f66b00;
    font-size: large;
    font-weight: 700;
    padding: 12px 34px;
    font-size: 13px;
    background: #f66b00;
    position: relative;
    border-radius: 20px 20px 0px 20px;
}
.hometext {
    padding-bottom: 50px;
}
p.hometext {
    color: #5d5a58;
    font-size: large;
    font-weight: 500;
}
.textbox {
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 60px;
}
.imghome img{
    height: 70%;
}

/* Service value */
#ser_value {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#ser_value h1 {
    font-size: 36px;
    font-weight: 600;
    color: #922e00;
}
h3 {
    color: #922e00;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.value-row {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 1px solid #922e00;
}